<div class="content" role="main">


  <div class="container naiste">

    <h2>Naiste nimed</h2>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>Nimi</th>
        <th>Väärtus</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let naised of Naised">
        <td>{{ naised.id }}</td>
        <td>{{ naised.name }}</td>
        <td>{{ naised.value }}</td>
      </tr>
      </tbody>
    </table>
  </div>


</div>

<router-outlet></router-outlet>
