<div class="content" role="main">

  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/mehed">Mehed</a>
      <a class="nav-item nav-link" routerLink="/naised">Naised</a>
      <a class="nav-item nav-link" routerLink="/perekonnanimed">Perekonnanimed</a>
      <a class="nav-item nav-link" routerLink="/tagasiside">Tagasiside</a>
    </div>
  </nav>

</div>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
