<div class="content" role="main">

  <div class="container perekonnanimed">

    <h2>Perekonnanimed</h2>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>Nimi</th>
        <th>Väärtus</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let perekonnanimed of Perekonnanimed">
        <td>{{ perekonnanimed.id }}</td>
        <td>{{ perekonnanimed.name }}</td>
        <td>{{ perekonnanimed.value }}</td>
      </tr>
      </tbody>
    </table>
  </div>


</div>

<router-outlet></router-outlet>
