
<div class="content" role="main">

  <div class="container mehed">

    <h2>Meeste nimed</h2>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>Nimi</th>
        <th>Väärtus</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let mehed of Mehed">
        <td>{{ mehed.id }}</td>
        <td>{{ mehed.name }}</td>
        <td>{{ mehed.value }}</td>
      </tr>
      </tbody>
    </table>
  </div>


</div>

<router-outlet></router-outlet>
